################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Anchor_Vizag/v15
/.vs/EcommGroceryStore/v15/Server/sqlite3
